.app-container {
    width: 50%;
    margin: 100px auto;
    border-radius: 50px;
    height: 400px;
    background-color: rgba(128, 128, 128, 0.644);
    box-shadow: 0 0 6px 0 black;
    border: 1px ridge rgba(0, 0, 0, 0.37);
}
.input-container {
    height: 150px;
    width: 50%;
    margin: auto; 
    display: flex;
}
.input-container input {
    display: block;
    width: 90%;
    margin: auto;
    height: 30px;
    border-radius: 50px;
    padding: 10px;
    font-size: 22px;
}
.input-container input:focus {
    outline: none;
}
.output-container {
    height: 200px;
    text-align: center;
    color: rgba(0, 0, 0, 0.699);
    font-size: 22px;
}
.output-container p {
    height: 100%;
    overflow: auto;
    word-wrap: break-word;
}